body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(205, 205, 205);
}

.headerWrapper {
width: 100%;
height: 100px;
border: solid black;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(24, 24, 24);
}

.headerImg {
    height: 100px;
}

.headerText {
    width: 80%;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: rgb(182, 46, 139);
}

.mainContentWrapper {
    width: 100%;
    height: 80vh;
}

.mainContent {

}

.topContentWrapper {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/backgrounds/world.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}

.mainMenuWrapper {
    width: 80%;
    height: 80%;
    border: 8px double rgb(188, 188, 188);
    border-radius: 35px;
    background-color: rgb(39, 39, 39);
}

.mainMenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.menuLeft {
    width: 40%;
    height: 100%;
    display: flex;
}

.menuLeftMain {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid lightgray;
}

.menuLeftSubmenu {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid lightgray;
}

.howToPlay,.start,.options,.howToWin,.combat,.leveling {
    height: 50px;
    width: 200px;
    border: 5px double black;
    border-radius: 10px;
    background-color: rgb(59, 111, 207);
    box-shadow: inset 0px 0px 10px 3px black;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
}

.howToPlay:hover,.start:hover,.options:hover,.howToWin:hover,.combat:hover,.leveling:hover {
    height: 50px;
    width: 200px;
    border: 5px double black;
    border-radius: 10px;
    background-color: rgb(25, 50, 98);
    box-shadow: inset 0px 0px 10px 3px black;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
}

.hide {
    visibility: hidden;
}

.menuRight {
    width: 60%;
    height: 100%;
}

.leftContentWrapper {
    width: 40%;
    height: 100%;
    border: solid rgb(0, 255, 30);
}

.leftContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.partyMemberOne, .partyMemberTwo, .partyMemberThree, .partyMemberFour {
    width: 90%;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: solid black;
}

.kazuma, .darkness, .megumin, .aqua {
    height: 65px;
    width: 65px;
}

.punch {
    height: 75px;
    width: 75px;
}

.centerContentWrapper {
    width: 20%;
    height: 100%;
    border: solid rgb(255, 0, 217);
}

.centerContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attackBoxOne,.attackBoxTwo,.attackBoxThree,.attackBoxFour {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid blue;
}

.rightContentWrapper {
    width: 40%;
    height: 100%;
    border: solid rgb(255, 128, 0);
}

.rightContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.leftMenu{
    width: 325px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.leftMenuClick {
    height: 45px;
    width: 45px;
}

.leftMenuDotted {
    height: 145px;
    width: 200px;
    rotate: 35deg;
}

@media only screen and (min-width:1790px) {

    .centerMenu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .centerMenuClick {
        height: 45px;
        width: 45px;
    }

    .centerMenuDotted {
        height: 145px;
        width: 250px;
        rotate: 35deg;
    } 
}

@media only screen and (min-width:600px) and (max-width: 1789px) {

    .centerMenu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .centerMenuClick {
        height: 45px;
        width: 45px;
    }

    .centerMenuDotted {
        height: 145px;
        width: 200px;
        rotate: 35deg;
    }

}

@media only screen and (min-width:1430px) and (max-width: 1600px) {

    .centerMenu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .centerMenuClick {
        height: 45px;
        width: 45px;
    }

    .centerMenuDotted {
        height: 145px;
        width: 150px;
        rotate: 45deg;
    }

}

@media only screen and (min-width:1330px) and (max-width: 1430px) {

    .centerMenu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .centerMenuClick {
        height: 45px;
        width: 45px;
    }

    .centerMenuDotted {
        height: 145px;
        width: 100px;
        rotate: 55deg;
    }

}

@media only screen and (max-width: 1330px) {

    .centerMenu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .centerMenuClick {
        height: 45px;
        width: 45px;
    }

    .centerMenuDotted {
        height: 145px;
        width: 30%;
        rotate: 65deg;
    }

}

.rightMenu{
    width: 325px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.rightMenuClick {
    height: 45px;
    width: 45px;
}

.rightMenuDotted {
    height: 145px;
    width: 200px;
    rotate: 35deg;
}


.enemyMemberOne, .enemyMemberTwo, .enemyMemberThree, .enemyMemberFour {
    width: 90%;
    height: 75px;
    display: flex;
    justify-content: right;
    align-items: center;
    border: solid black;
}

.bottomContentWrapper {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    background-color: rgb(205, 205, 205);
}

.bottomContent {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 6px double rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(96, 96, 96);
    overflow: hidden;
}

.bottomPanelWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bottomTopPanel {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}

.bottomBottomPanel {
    display: flex;
    width: 100%;
    height: 100%;
    color: whitesmoke;
}

.selectAction {
    width: 34%;
    height: 100%;
    border: 1px solid rgb(58, 58, 58);
}

.showCharacterHealth {
    width: 33%;
    height: 100%;
    border: 1px solid rgb(58, 58, 58);
}

.showEnemyHealth {
    width: 33%;
    height: 100%;
    border: 1px solid rgb(58, 58, 58);
}

