body {
    margin: 0;
}

.headerWrapper {
width: 100%;
height: 100px;
border: solid black;
}

.header {

}

.mainContentWrapper {
    width: 100%;
    height: 80vh;
}

.mainContent {

}

.topContentWrapper {
    width: 100%;
    height: 60vh;
    display: flex;
}

.leftContentWrapper {
    width: 40%;
    height: 100%;
    border: solid rgb(0, 255, 30);
}

.leftContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partyMemberOne, .partyMemberTwo, .partyMemberThree, .partyMemberFour {
    width: 90%;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: solid black;
}

.kazuma, .darkness, .megumin, .aqua {
    height: 65px;
    width: 65px;
}

.punch {
    height: 75px;
    width: 75px;
}

.centerContentWrapper {
    width: 20%;
    height: 100%;
    border: solid rgb(255, 0, 217);
}

.centerContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attackBoxOne,.attackBoxTwo,.attackBoxThree,.attackBoxFour {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid blue;
}

.rightContentWrapper {
    width: 40%;
    height: 100%;
    border: solid rgb(255, 128, 0);
}

.rightContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enemyMemberOne, .enemyMemberTwo, .enemyMemberThree, .enemyMemberFour {
    width: 90%;
    height: 75px;
    display: flex;
    justify-content: right;
    align-items: center;
    border: solid black;
}

.bottomContentWrapper {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    border: solid black;
}

.bottomContent {
    width: 75%;
    height: 100%;
    display: flex;
    border: solid blue;
}

.selectAction {
    width: 33%;
    height: 100%;
    border: solid red;
}

.showCharacterHealth {
    width: 33%;
    height: 100%;
    border: solid red;
}

.showEnemyHealth {
    width: 33%;
    height: 100%;
    border: solid red;
}