body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 24, 24);
}

.headerWrapper {
width: 100%;
height: 100px;
border: solid black;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(24, 24, 24);
}

.mainContentWrapper {
    width: 100%;
    height: 80vh;
}

.mainContent {

}

.topContentWrapper {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/backgrounds/world.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}

.mainMenuWrapper {
    width: 85%;
    height: 50%;
    border: 8px double rgb(188, 188, 188);
    border-radius: 35px;
    background-color: rgb(39, 39, 39);
    position: fixed;
    display: block;
    top: 135px;
    z-index: 2;
}

.mainMenuHide {
    visibility: hidden;
}

.menuIconHide {
    visibility: hidden;
}

.infoBarHide {
    visibility: hidden;
}

.mainMenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.menuLeft {
    width: 40%;
    height: 100%;
    display: flex;
}

.menuLeftMain {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid lightgray;
}

.menuLeftSubmenu {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid lightgray;
}

.howToPlay,.start,.options,.howToWin,.combat,.leveling,.gameplay,.quit,.music {
    height: 50px;
    width: 150px;
    border: 5px double black;
    border-radius: 10px;
    background-color: rgb(59, 111, 207);
    box-shadow: inset 0px 0px 10px 3px black;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
}

.howToPlay:hover,.start:hover,.options:hover,.howToWin:hover,.combat:hover,.leveling:hover,.gameplay:hover,.quit:hover,.music:hover {
    height: 50px;
    width: 150px;
    border: 5px double black;
    border-radius: 10px;
    background-color: rgb(25, 50, 98);
    box-shadow: inset 0px 0px 10px 3px black;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
}

.hideOptions {
    visibility: hidden;
}

.showOptions {
    visibility: visible;
}

.hideMenu {
    visibility: hidden;
}

.show {
    visibility:visible;
}

.pathHide {
    visibility: hidden;
}

.path {
    visibility:visible;
}

.hideParty {
    display: none;
    position: fixed;
    left: 40px;
    top: 225px;
}

.menuRight {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuRightText {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    padding-left: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.menuRightRight {
    min-width: 25px;
    height: 100%;
    padding-top: 15px;
    padding-right: 15px;
}

.close {
    height: 20px;
    width: 20px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.close:hover {
    height: 22px;
    width: 22px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.leftContentWrapper {
    width: 40%;
    height: 100%;
    display: flex;
}

.leftContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.menuIcon {
    height: 55px;
    width: 55px;
    position: absolute;
    left: 15px;
    top: 115px;
}

.menuIconImg {
    height: 55px;
    width: 55px;
    border: 5px solid black;
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

.menuIconImg:hover {
    height: 55px;
    width: 55px;
    border: 5px solid black;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.partyMemberOne, .partyMemberTwo, .partyMemberThree, .partyMemberFour {
    width: 75px;
    height:100px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.kazuma, .darkness, .megumin, .aqua {
    height: 75px;
    width: 75px;
}

.punch {
    height: 75px;
    width: 75px;
}

.centerContentWrapper {
    width: 20%;
    height: 100%;
}

.centerContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attackBoxOne,.attackBoxTwo,.attackBoxThree,.attackBoxFour {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rightContentWrapper {
    width: 40%;
    height: 100%;
}

.rightContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hideParty {
    display: none;
    position: fixed;
    left: 40px;
    top: 225px;
} 

.showParty {
    position: fixed;
    display: block;
    left: 40px;
    top: 225px;
}

.hideEnemy {
    display: none;
    position: fixed;
    right: 40px;
    top: 250px;
}

.showEnemy {
    position: fixed;
    display: block;
    right: 40px;
    top: 250px;
}

.hideAttack {
    display: none;
    position: fixed;
    right: 40px;
    top: 250px;
}

.showAttack {
    position: fixed;
    display: block;
    right: 40px;
    top: 250px;
}

@media only screen and (min-width:1790px) {

    .headerImg {
        height: 100px;
    }
    
    .headerText {
        width: 80%;
        text-align: center;
        font-size: 42px;
        font-weight: bold;
        color: rgb(182, 46, 139);
    }

    .leftMenu{
        width: 325px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .leftMenuClickX {
        height: 45px;
        width: 45px;
    }
    
    .leftMenuClick {
        height: 45px;
        width: 45px;
    }
    
    .leftMenuClick:hover {
        height: 50px;
        width: 50px;
    }
    
    .leftMenuDotted {
        height: 145px;
        width: 200px;
        rotate: 35deg;
    }

    .centerMenu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .centerMenuClick {
        height: 45px;
        width: 45px;
    }

    .centerMenuClickX {
        height: 45px;
        width: 45px;
    }

    .centerMenuClick:hover {
        height: 50px;
        width: 50px;
    }

    .centerMenuDotted {
        height: 145px;
        width: 250px;
        rotate: 35deg;
    } 

    .rightMenu{
        width: 300px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .rightMenuClick {
        height: 45px;
        width: 45px;
    }

    .rightMenuClickX {
        height: 45px;
        width: 45px;
    }

    .rightMenuClick:hover {
        height: 50px;
        width: 50px;
    }
    
    .rightMenuDotted {
        height: 145px;
        width: 150px;
        rotate: 45deg;
    }

}

@media only screen and (min-width:600px) and (max-width: 1789px) {

    .headerImg {
        height: 100px;
    }
    
    .headerText {
        width: 80%;
        text-align: center;
        font-size: 42px;
        font-weight: bold;
        color: rgb(182, 46, 139);
    }

    .leftMenu{
        width: 325px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .leftMenuClickX {
        height: 45px;
        width: 45px;
    }
    
    .leftMenuClick {
        height: 45px;
        width: 45px;
    }
    
    .leftMenuClick:hover {
        height: 50px;
        width: 50px;
    }
    
    .leftMenuDotted {
        height: 145px;
        width: 200px;
        rotate: 35deg;
    }

    .centerMenu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .centerMenuClick {
        height: 45px;
        width: 45px;
    }

    .centerMenuDotted {
        height: 145px;
        width: 200px;
        rotate: 35deg;
    }

    .rightMenu{
        width: 275px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .rightMenuClick {
        height: 45px;
        width: 45px;
    }
    
    .rightMenuDotted {
        height: 145px;
        width: 125px;
        rotate: 55deg;
    }

}

@media only screen and (min-width:1430px) and (max-width: 1600px) {

    .headerImg {
        height: 100px;
    }
    
    .headerText {
        width: 80%;
        text-align: center;
        font-size: 42px;
        font-weight: bold;
        color: rgb(182, 46, 139);
    }

    .leftMenu{
        width: 325px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .leftMenuClickX {
        height: 45px;
        width: 45px;
    }
    
    .leftMenuClick {
        height: 45px;
        width: 45px;
    }
    
    .leftMenuClick:hover {
        height: 50px;
        width: 50px;
    }
    
    .leftMenuDotted {
        height: 145px;
        width: 200px;
        rotate: 35deg;
    }

    .centerMenu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .centerMenuClick {
        height: 45px;
        width: 45px;
    }

    .centerMenuDotted {
        height: 145px;
        width: 150px;
        rotate: 45deg;
    }

    .rightMenu{
        width: 250px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .rightMenuClick {
        height: 45px;
        width: 45px;
    }
    
    .rightMenuDotted {
        height: 145px;
        width: 100px;
        rotate: 55deg;
    }

    .hideParty {
        display: none;
        position: fixed;
        left: 40px;
        top: 225px;
    }
    
    .showParty {
        position: fixed;
        display: block;
        left: 40px;
        top: 225px;
    }
    
    .hideEnemy {
        display: none;
        position: fixed;
        right: 40px;
        top: 250px;
    }
    
    .showEnemy {
        position: fixed;
        display: block;
        right: 40px;
        top: 250px;
    }

}

@media only screen and (min-width:1330px) and (max-width: 1430px) {

    .headerImg {
        height: 100px;
    }
    
    .headerText {
        width: 80%;
        text-align: center;
        font-size: 42px;
        font-weight: bold;
        color: rgb(182, 46, 139);
    }

    .leftMenu{
        width: 175px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .leftMenuClickX {
        height: 45px;
        width: 45px;
    }
    
    .leftMenuClick {
        height: 45px;
        width: 45px;
    }
    
    .leftMenuClick:hover {
        height: 50px;
        width: 50px;
    }
    
    .leftMenuDotted {
        height: 145px;
        width: 50px;
        rotate: 65deg;
    }

    .centerMenu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .centerMenuClick {
        height: 45px;
        width: 45px;
    }

    .centerMenuDotted {
        height: 145px;
        width: 100px;
        rotate: 55deg;
    }

    .rightMenu{
        width: 225px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .rightMenuClick {
        height: 45px;
        width: 45px;
    }
    
    .rightMenuDotted {
        height: 145px;
        width: 75px;
        rotate: 65deg;
    }

}

@media only screen and (max-width: 1330px) {

    .headerImg {
        height: 90px;
    }
    
    .headerText {
        width: 80%;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: rgb(182, 46, 139);
    }

    .leftMenu{
        width: 175px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .leftMenuClickX {
        height: 45px;
        width: 45px;
    }
    
    .leftMenuClick {
        height: 45px;
        width: 45px;
    }
    
    .leftMenuClick:hover {
        height: 50px;
        width: 50px;
    }
    
    .leftMenuDotted {
        height: 145px;
        width: 50px;
        rotate: 65deg;
    }

    .centerMenu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .centerMenuClick {
        height: 45px;
        width: 45px;
    }

    .centerMenuDotted {
        height: 115px;
        width: 30%;
        rotate: 65deg;
    }

    .rightMenu{
        width: 200px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .rightMenuClick {
        height: 45px;
        width: 45px;
    }
    
    .rightMenuDotted {
        height: 145px;
        width: 50px;
        rotate: 65deg;
    }

}

.enemyMember {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.blackBat,.blackSpider,.blueSpider,.demonBat,.grayBat,.graySpider,.purpleSpider,.skeleton,.zombie,.whiteSpider {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.bottomContentWrapper {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}

.bottomContent {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 6px double rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(96, 96, 96);
    overflow: hidden;
}

.bottomPanelWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bottomTopPanel {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}

.bottomBottomPanel {
    display: flex;
    width: 100%;
    height: 100%;
    color: whitesmoke;
}

.selectAction {
    width: 34%;
    height: 100%;
    border: 1px solid rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
}

.showCharacterHealth {
    width: 33%;
    height: 100%;
    border: 1px solid rgb(58, 58, 58);
    padding-left: 10px;
    font-weight: bold;
}

.showEnemyHealth {
    width: 33%;
    height: 100%;
    border: 1px solid rgb(58, 58, 58);
    padding-left: 10px;
    font-weight: bold;
}

.attackBtn {
    height: 50px;
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
